<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProductsTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ProductsTracker.Properties.Settings>
            <setting name="ManageUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ManageUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ManagePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetUser" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ManageProjectId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TargetProjectId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManageHost" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetHost" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomFieldIndexOfTrackingId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TargetUsingProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManageUsingProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideClosedTicket" serializeAs="String">
                <value>False</value>
            </setting>
        </ProductsTracker.Properties.Settings>
    </userSettings>
</configuration>